# Virtual Environment
env/
venv/
*.venv

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Local environment variables
.env

# Database file
aspiro.db
*.db
*.sqlite
*.sqlite3

# IDE and OS files
.vscode/
.idea/
.DS_Store
